mat-card-header {
  font-family: Comfortaa;
  font-weight: bold;

  .img-google-logo {
    margin-top: -5px;
    height: 35px;
    width: auto;
  }
  .text-google-logo {
    color: gray;
    font-size: 1.4em;
  }
}
.active {
  border-bottom: 2px solid #7cc6f8;
}

