<div style="min-height: 50vh;" *ngIf="!(course$|async)" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="3" [diameter]="50">
  </mat-spinner>
  <span>Buscando clases...</span><br>
</div>
<mat-card *ngIf="(course$|async) as course" [class.mat-elevation-z6]="true">
  <mat-card-header>
    <!-- <img mat-card-avatar [src]="[owner.profile.photoUrl]"> -->
    <mat-card-title>{{ course.name }}</mat-card-title>
    <!-- <mat-card-subtitle>{{owner.profile.name.fullName}}</mat-card-subtitle> -->
    <mat-card-subtitle><b>{{ course.room }}&#176; {{ course.section }}</b></mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon mat-icon-button matTooltip="Alumnos del curso" matTooltipPosition="above" [icon]="faUserGraduate"
        size="2x">
      </fa-icon>
      <!-- <p matBadge="{{ students ? students.length :0}}" matBadgeColor="warn" matBadgePosition="after">Alumnos</p> -->
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon mat-icon-button matTooltip="Consulta el trabajo de clase" matTooltipPosition="above"
        [icon]="faFileSignature" size="2x">
      </fa-icon>
      <!--  <p matBadge="{{ courseWorks ? courseWorks.length : 0 }}" matBadgeColor="warn" matBadgePosition="before">
      Actividades</p> -->
    </div>
    <div fxLayout="column" *ngIf="course.courseMaterialSets" fxLayoutAlign="center center">
      <fa-icon mat-icon-button matTooltip="Consulta el trabajo de clase" matTooltipPosition="above"
        [icon]="faFileSignature" size="2x">
      </fa-icon>
      <p matBadge="{{ course.courseMaterialSets.length ? course.courseMaterialSets.length : 0 }}" matBadgeColor="warn"
        matBadgePosition="before">
        Actividades</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon class="px-1" [ngClass]="course.guardiansEnabled ? 'text-success' : 'text-danger'"
        [icon]="course.guardiansEnabled ? faBell : faBellSlash " size="2x" matTooltip="{{
          course.guardiansEnabled
            ? 'Informe a tutores Activado'
            : 'Informe a tutores Desactivado'
        }}" matTooltipPosition="above">
      </fa-icon>
      <p>Tutores</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon mat-button matTooltip="Maestros del curso" matTooltipPosition="above" [icon]="faUserTie" size="2x">
      </fa-icon>
      <!-- <p matBadge="{{ (teachers) ? teachers.length : 0 }}" matBadgeColor="warn" matBadgePosition="before">
      Profesores
    </p> -->
    </div>
  </mat-card-actions>
  <mat-card-content>
    <div *ngIf="course">
      {{course|json}}
    </div>
  </mat-card-content>
</mat-card>
