<div class="card" *ngIf="course$|async as course">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
    <mat-card fxFlex="0 1 calc(50% -5px)" fxFlex.lt-md="100%" class="card border-light mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>{{ course.name }}&nbsp;<span class="text-muted">{{ course.section }}</span></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ course.courseGroupEmail }}</p>
        <p>{{ course.description }}</p>
        <p>{{ course.descriptionHeading }}</p>
      </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <fa-icon class="px-1" [ngClass]="course.guardiansEnabled ? 'text-success' : 'text-danger'"
            [icon]="course.guardiansEnabled ? faBell : faBellSlash" size="2x"
            matTooltip="{{course.guardiansEnabled ? 'Informe a tutores Activado' : 'Informe a tutores Desactivado' }}"
            matTooltipPosition="above">
          </fa-icon>
          Tutores
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <fa-icon mat-icon-button class="px-1" [icon]="faEdit" size="2x"></fa-icon>
          Modificar
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <fa-icon mat-icon-button class="px-1" [icon]="faGoogleDrive" size="2x"></fa-icon>
          Carpeta
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="owner" fxFlex="0 1 calc(50% - 5px)" fxFlex.lt-md="100%" class="card border-light mat-elevation-z0">
      <mat-card-header>
        <img mat-card-avatar src="{{owner.profile.photoUrl}}">
        <mat-card-title>{{owner.profile.name.fullName}}</mat-card-title>
        <mat-card-subtitle>{{owner.profile.emailAddress}}</mat-card-subtitle>
        <fa-icon mat-icon-button
          matTooltip="{{owner.profile.verifiedTeacher ? 'Usuario verificado' : 'Usuario sin verificar'}}"
          matTooltipPosition="above" class="float-right"
          [ngClass]="owner.profile.verifiedTeacher ? 'text-success' : 'text-danger'"
          [icon]="owner.profile.verifiedTeacher  ? faUserCheck : faUserTimes" size="2x">
        </fa-icon>
      </mat-card-header>
      <mat-card-content>
        <!-- {{owner|json}} -->
      </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-around end">
        <div fxLayout="column" fxLayoutAlign="center center">


        </div>

      </mat-card-actions>
    </mat-card>
  </div>

  <mat-card class="mat-elevation-z0">
    <mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="1000ms">
      <mat-tab *ngIf="students$ | async as students">
        <ng-template matTabLabel>
          <span matBadge="{{ students ? students.length : 0 }}" matBadgeColor="warn" matBadgePosition="above after"
            matBadgeSize="medium" [matBadgeHidden]="students.length == 0" matTooltip="Alumnos del curso"
            matTooltipPosition="above">
            <fa-icon [icon]="faUserGraduate" size="lg">
            </fa-icon>
            &nbsp;<span [ngClass]="(isHandset$ | async) ? 'd-none' : ''">Alumnos</span>
          </span>
        </ng-template>
        <app-course-students></app-course-students>
      </mat-tab>

      <mat-tab *ngIf="teachers$ | async as teachers" animationDuration="1000ms">
        <ng-template matTabLabel>
          <span matBadge="{{ teachers ? teachers.length : 0 }}" matBadgeColor="warn" matBadgePosition="above after"
            matBadgeSize="medium" [matBadgeHidden]="teachers.length == 0" matTooltip="Maestros del curso"
            matTooltipPosition="above">
            <fa-icon [icon]="faUserTie" size="lg">
            </fa-icon>
            <span [ngClass]="(isHandset$ | async) ? 'd-none' : ''">&nbsp;Profesores</span>
          </span>
        </ng-template>
        <app-course-teachers></app-course-teachers>
      </mat-tab>

      <mat-tab *ngIf="courseWorks$ | async as courseWorks" animationDuration="1000ms">
        <ng-template matTabLabel>
          <span [matBadge]="courseWorks ? courseWorks.length : 0" matBadgeColor="warn" matBadgePosition="above after"
            matBadgeSize="medium" [matBadgeHidden]="courseWorks.length == 0">
            <fa-icon matTooltip="Consulta el trabajo de clase" matTooltipPosition="above" [icon]="faBriefcase"
              size="lg">
            </fa-icon>
            <span [ngClass]="(isHandset$ | async) ? 'd-none' : ''">&nbsp;Actividades</span>
          </span>
        </ng-template>
        <app-course-work [courseWorks]="courseWorks$ | async"></app-course-work>
      </mat-tab>

      <mat-tab *ngIf="announcements$ | async as announcements" animationDuration="1000ms">
        <ng-template matTabLabel>
          <span [matBadge]="announcements ? announcements.length : 0" matBadgeColor="warn" matBadgeSize="medium"
            matBadgePosition="above after" [matBadgeHidden]="announcements.length == 0">
            <fa-icon matTooltip="Consulta el trabajo de clase" matTooltipPosition="above" [icon]="faBullhorn" size="lg">
            </fa-icon>
            &nbsp;<span [ngClass]="(isHandset$ | async) ? 'd-none' : 'text-dark'">&nbsp;Avisos</span>
          </span>
        </ng-template>
        <ng-template matTabContent>
          <app-course-announcements [announcements]="announcements"></app-course-announcements>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
