<!-- <div *ngIf="(isLoading$|async)" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner strokeWidth="3" [diameter]="50">
        </mat-spinner>
        <span>Buscando ...</span><br>
      </div> -->
<mat-card class="mat-elevation-z5">
  <mat-card-content class="card border-primary m-n2">
    <h2 class="mat-h2 card-header">Calificaciones</h2>
    <div class="card-body">
      <p class="card-text">Se muestran únicamente los cursos en donde estás inscrito como alumno.
      </p>
      {{userGrade$|async|json}}
    </div>
  </mat-card-content>
</mat-card>
