 .sidenav-container {
  background-color: inherit;
  height:100%;
}

.sidenav {
  background-color:inherit;
  border:none;
}

.img-google {
  height: 50px;
  width: auto;
}
.img-user {
  border:2px solid green;
}

.sidenav-container {
  height: calc(100vh - 100px);
}
.main-container {
  min-height: calc(100vh - 100px);
  width: 100%;
}
