<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav class="sidenav" [@onSideNavChange]="sideNavState ? 'open' : 'close'" fixedInViewPort
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list *ngIf="isOnline" fxLayout="column" fxLayoutAlign="space-between center">
      <a *ngFor="let page of classroomPages" mat-list-item [routerLink]="page.route" routerLinkActive="active">
        <fa-icon matListIcon [icon]="page.icon"></fa-icon>
        <span matLine [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
      </a>
      <a mat-list-item (click)="onSidenavToggle()" routerLinkActive="active">
        <fa-icon matListIcon [icon]="faCompressAlt"></fa-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="(onSideNavChange) ? 'open': 'close'">
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
