 .sidenav-container {
  background-color: inherit;
  height: 100%;
}

.sidenav {
  background-color:inherit;
  border:none;
  margin-left: -10px;
  width: 50px;
}

.img-google {
  height: 50px;
  width: auto;
}

.main-container {
  width: 100%;
  min-height:100%;
  //border:2px solid red
}
