 .sidenav-container {
  height: 100%;
}

.sidenav {
  border:none;
  margin-left: -5px;
  width: 50px;
}

.img-google {
  height: 50px;
  width: auto;
}

.main-container {
  width: 100%;
  //border:2px solid red
}
