<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <h2 mat-dialog-title>Usuario Creado</h2>
  <fa-icon mat-icon-button [icon]="faTimes" size="lg" (click)="onClose()" [matDialogClose]=""></fa-icon>
</div>
<mat-dialog-content>
  <div *ngIf="data">
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">ID:&nbsp;</p>
      <p class="col-6">{{data.id}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Nombre(s):&nbsp;</p>
      <p class="col-6">{{data.name.givenName}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Apellido(s):&nbsp;</p>
      <p class="col-6">{{data.name.familyName}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Correo electrónico:&nbsp;</p>
      <p class="col-6">{{data.primaryEmail}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Fecha de nacimiento:&nbsp;</p>
      <p class="col-6">{{data.dob}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Contraseña:&nbsp;</p>
      <p class="col-6">{{data.password}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Nivel:&nbsp;</p>
      <p class="col-6">{{data.level}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Grado:&nbsp;</p>
      <p class="col-6">{{data.grade}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Ruta de la organización:&nbsp;</p>
      <p class="col-6">{{data.orgUnitPath}}</p>
    </div>
    <div class="mb-n2" fxLayout="row">
      <p class="col-6">Rol de usuario:&nbsp;</p>
      <p class="col-6">{{data.role}}</p>
    </div>
  </div>
</mat-dialog-content>
