<button *ngIf="isOnline; else googleButton" mat-icon-button [matMenuTriggerFor]="useractions"
  aria-label="Example icon-button with a menu" class="mx-1">
  <img class="img-fluid rounded-circle" src="{{ (user.photoUrl)  ? user.photoUrl : '/assets/images/dummy-user.png'}}" />
</button>
<!-- Menu Items -->
<mat-menu #useractions="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink]="['profile']">Mi cuenta</button>
  <button *ngIf="isAdmin" mat-menu-item [routerLink]="['admin']">
    Administración
  </button>
  <button mat-menu-item (click)="onSignOut()">Cerrar sesión</button>
</mat-menu>
<!-- -->
<ng-template #googleButton>
  <button mat-icon-button (click)="onSignIn()" (mouseover)="linkText=true" (mouseout)="linkText=false">
    <div fxLayout="row">
      <img class="img-fluid" src="/assets/images/google-logo.svg" />
      <span [@animateText]="linkText ? 'show' : 'hide'">&nbsp;Inicia Sesión</span>
    </div>
  </button>
</ng-template>
