<!-- <div class="wrapper">
  <section class="section parallax bg1 bg2">
    <h1>Cute Kitten</h1>
</section>
<section class="section parallax bg2">
   <h1>Fluffy Kitten</h1>
</section>
<section class="section static">
  <h1>Boring</h1>
</section>
<section class="section parallax bg2">
  <h1>Fluffy Kitten</h1>
</section>
</div> -->
<!-- <div appParallax [ratio]="-0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="0.9" id="rectangle"></div> -->

<!-- <div class="container" style="height:180vh">
  <div class="img-container" appParallax [ratio]="0.4">
    <img class="d-block img-casa" src="assets/images/paralax_house.png" />
  </div>
  <img appParallax [ratio]="-0.5" class="d-block img-personas" src="assets/images/rds-personas.png" />
</div>
 -->

<!-- <div #parallax (mousemove)="onMouseMove($event)">
  <h1>Parallax</h1>
</div> -->
<div style="height: 200vh;">
  <h1 class="mt-4" appParallax [ratio]="0.3" class="emblem">
    <span class="char01">E</span>
    <span class="char02">s</span>
    <span class="char03">c</span>
    <span class="char04">u</span>
    <span class="char05">e</span>
    <span class="char06">l</span>
    <span class="char07">a</span>
    <span class="char08"></span>
    <span class="char09">R</span>
    <span class="char10">a</span>
    <span class="char11">f</span>
    <span class="char12">a</span>
    <span class="char13">e</span>
    <span class="char14">l</span>
    <span class="char15"></span>
    <span class="char16">D</span>
    <span class="char17">í</span>
    <span class="char18">a</span>
    <span class="char19">z</span>
    <span class="char20"></span>
    <span class="char21">S</span>
    <span class="char22">e</span>
    <span class="char23">r</span>
    <span class="char24">d</span>
    <span class="char25">á</span>
    <span class="char26">n</span>
  </h1>
</div>

<!-- <div appParallax [ratio]="2.2" class="text"></div> -->
<div appParallax [ratio]="-0.2" class="house"></div>
<div appParallax [ratio]="-0.25" class="people"></div>
