@import "./../../../../assets/themes/colors.scss";

.view-title {
  color:$rds-logo-color;
  font-size: calc(1rem + 1.5vw);
  font-weight: 800;
}
.view-subtitle {
  margin-top: -50px;
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
}
.img-container {
  margin-top: -70px;
  width: 15%;
  height: auto;
  position: static;
  right:0;
  top:0;
}
