<div *ngIf="isLoading$|async">
  <mat-progress-bar mode="query" color="primary"> </mat-progress-bar>
</div>
<div *ngIf="(announcements$|async).length==0 && !(isLoading$|async)">
  <mat-card class="text-center">
    <fa-icon [icon]="faBlind" size="lg"></fa-icon>No se encontraron elementos.
  </mat-card>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let announcement of announcements$|async" (opened)="getName(announcement.id)">
    <mat-expansion-panel-header (click)="togglePanel()">
      <mat-panel-title>
        {{ announcement.text }}
      </mat-panel-title>
      <mat-panel-description>
        {{ announcement.creationTime |date:'medium'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      Creado por: {{creator$|async}}
    </div>
  </mat-expansion-panel>
</mat-accordion>
