@import './../../../../assets/themes/colors.scss';
.view-title {
  color:$rds-logo-color;
  font-size: calc(1rem + 1.5vw);
  font-weight: 800;
}
.view-subtitle {
  margin-top: -50px;
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-card {
  min-width: 350px;
}
