.full-width-table {
  width: 100%;
}
.mat-column-courseName {
  flex: 0 0 40% !important;
  min-width: 104px !important;
}
.mat-column-unidad1 {
  flex: 0 0 20% !important;
  min-width: 50px !important;
}
.mat-column-unidad2 {
  flex: 0 0 20% !important;
  min-width: 50px !important;
}
.mat-column-unidad3 {
  flex: 0 0 20% !important;
  min-width: 50px !important;
}
.mat-sort-header-container {
  align-items: center;
}
