<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between top">
  <div fxFlex="0 1 calc(35% - 5px)" fxFlex.lt-sm="100%">
    <div *ngIf="(courses$|async)" class="card border-success">
      <h3 class="mat-h3 card-header">Seleciona el curso a calificar</h3>
      <mat-list class="mt-n4 list-group" dense>
        <a mat-list-item *ngFor="let course of courses$|async;" [routerLink]="[course.id]" routerLinkActive="active"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          {{course.name}}
        </a>
      </mat-list>
      <div class="card-footer text-muted">
        <p>Promedio general: <span class="text-bold">14</span></p>
      </div>
    </div>
  </div>
  <div fxFlex="0 1 calc(60% - 5px)" fxFlex.lt-sm="100%">
    <router-outlet></router-outlet>
  </div>
</div>
