mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

.flex-row {
  > div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
  }
  > .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }
  > .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-fluid {
  max-height: 120px;
}

.dashboard-card {
  position: absolute;
  height: fit-content;
  width: auto;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid gray;
  box-shadow: none;
}


.display-4-responsive {
  font-size: calc(1rem + 4vw);
  font-weight: 100;
}

.h2-responsive {
  margin-top: -20px;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 100;
}
