@import './../../assets/themes/colors.scss';
.view-title {
  color:$rds-logo-color;
  font-size: calc(1rem + 1.5vw);
  font-weight: 800;
}
.view-subtitle {
  margin-top: -50px;
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-card {
  min-width: 350px;
}
mat-card-header {
  font-family: Comfortaa;
  font-weight: bold;

  .img-google-logo {
    margin-top: -5px;
    height: 35px;
    width: auto;
  }
  .text-google-logo {
    color: gray;
    font-size: 1.4em;
  }
}

.flex-row {
  > div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
  }
  > .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }
  > .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-fluid {
  max-height: 120px;
}

.dashboard-card {
  position: absolute;
  height: fit-content;
  width: auto;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid gray;
  box-shadow: none;
}


.display-4-responsive {
  font-size: calc(1rem + 4vw);
  font-weight: 100;
}

.h2-responsive {
  margin-top: -20px;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 100;
}
