<div class="p-5" *ngIf="(user$|async) as user">
  <div fxLayout="column" fxLayoutAlign="space-between start">
    <p class="display-4 display-4-responsive"> Bienvenido </p>
    <p class="h4 h4-responsive"> {{user.name}}</p>
    <p class="h5 h5-responsive">Panel de acceso a servicios de información para estudiantes y profesores.
    </p>
  </div>
  <button mat-raised-button [routerLink]="['/c']" [queryParams]="{ id: user.id }">Continuar</button>
  <!-- <button mat-raised-button (click)=" optionsByRole(user.id)">Continuar</button> -->

</div>
