.img-fluid {
  max-height: 120px;
}

.dashboard-card {
  position: absolute;
  height: fit-content;
  width: auto;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  //border: 1px solid gray;
  box-shadow: none;
}
