.full-width-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: inherit;

}
table {
  height: 40px;
  .large-th {
    min-width: 200px;
    min-height: 10px;
  }

  .medium-th {
    min-width: 100px;
    min-height: 10px;
  }

  .small-th {
    min-width: 20px;
    min-height: 10px;
  }
}
tr.mat-header-row, tr.mat-row {
  min-height: 10px;
  max-height: 30px;

}


.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
