<div class="px-2 pt-1 pb-4">
  <div class="img-container float-right">
    <img src="assets/images/rds-personas.png" class="img-fluid" />
  </div>
  <p class="mat-h1 h1-responsive">Escuela</p>
  <p class="display-4 display-4-responsive"> Rafael Díaz Serdán</p>
  <p class="mat-h2 h2-responsive text-success"> Educación para la vida.</p>
  <div class="p-3">
    <blockquote class="blockquote blockquote-responsive">
      <p class="fs-3">Niños felices, abiertos, porque están contentos de trabajar por sí mismos y de que se les halla
        hecho responsables de su trabajo.</p>
      <footer class="blockquote-footer"><cite title="Source Title">Pierre Faure</cite></footer>
    </blockquote>
  </div>
  <div class="text-justify">
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/125764844_3463619977008775_7196565496537947211_o.jpg">
    <p>Este proyecto pedagógico que nace en 1981 con la finalidad de brindar una alternativa a la educación básica
      tradicional en México.</p>
    <p>Su espíritu educativo se enfoca en el desarrollo pleno del individuo, el reconocimiento de sus capacidades y el
      respeto a las etapas del desarrollo integral de cada niño. Fomentado los valores universales, nuestra labor
      docente no sólo profundiza en la adqisición de saberes, sino que prepara al ser para hacerse responsable de sus
      decisiones, para que con sabiduría tome de la vida sólo aquello que le dignifique.</p>
    <img class="text-wrap-left img-fluid" width="30%" height="auto"
      src="assets/scene/119737017_3290287431008698_6648803165942360910_o.jpg">
    <p>Como un efecto directo de celebrar el brillo que hay en todas y cada una de las personas, la institución adquiere
      el carácter de comunidad educativa, promoviendo el involucramiento de los padres de familia en todas las
      actividades no sólo como observadores, sino como integrantes activos en el desarrollo de sus hijos. El resultado
      es la conformación de un individuo autónomo y autodidácta, con la fortaleza de reconocerse en la comunidad para
      dar lo mejor de si, comprendiendo que sólo a través del respeto y la responsabilidad en su actuar se es
      verdaderamente libre.</p>
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/123213875_3426700850700688_230823784426456497_o.jpg">
    <p>A lo largo de nuestro quehacer docente, hemos desarrollado una fórmula pegagógica que se alinea con los métodos
      de enseñanza Montesori, enraizadoze a la visión de <strong>Pierre Faure</strong> sobre aprovechar al máximo el
      potencial en los
      jóvenes, quienes ejercen en plenitud su verdadera libertad, que coincide con la necesidad, con la obligación más
      fuerte de cada individuo, que es la necesidad y la obligación de progresar; fuera de eso no hay libertad, pues la
      libertad es una libertad de ser, de llegar a ser, de progresar.</p>

    <img class="text-wrap-left img-fluid" width="30%" height="auto"
      src="assets/scene/130129511_3526287554075350_2548561042151199796_o.jpg">

    <p> En nuestra práctica diaria, fomentamos y hacemos partícipe al alumno de su aprendizaje, permitiéndole escoger y
      organizar más libremente su trabajo escolar, utilizar material de todo tipo, hacer experimentos sin estar
      directamente suboridinado a la enseñanza lineal de las aulas tradicionales. El trabajo independiente, al dar más
      iniciativa al alumno, más responsabilidad, propone preparar mejor al individuo al hacerse responsable de su propia
      formación en todos los niveles educativos. Esta metodología independiente aspira también a facilitar el paso del
      trabajo por diciplinas cerradas a un trabajo interdiciplinar, formando alumnos autodidactas y críticos de la
      experimentación diaria. Reconociendo y celebrando la diversidad del espuritu humano, esta metodología permite
      también la igualdad en oportunidades a nivel escolar, ya que, trabajando cada quien a su ritmo abre las puertas
      del profesor para reforzar el aprendizaje en quienes encuentren dificultades cognitivas, obteniendo como resultado
      final una educación comunitaria, colectiva.</p>
  </div>
</div>
