@import "assets/themes/custom-theme.scss";
@import 'assets/fonts/_fonts.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.display-4-responsive {
  color:$rds-logo-color;
  font-size: calc(1rem + 3vw);
  font-weight: 100;
}
.h4-responsive {
  margin-top: -20px;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 400;
}
.h2-responsive {
  margin-top: -35px;
  font-size: calc(0.5rem + 1.2vw);
  font-weight: 100;
}

.h5-responsive {
  margin-top: 0px;
  font-size: calc(0.4rem + 1.2vw);
  font-weight: 100;
}
.app-name {
  color:$rds-logo-color;
  font-weight: 800;
}
