@import "assets/themes/custom-theme.scss";
@import "assets/themes/colors";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.view-title {
  color: $rds-logo-color;
  font-size: calc(2rem + 1.5vw);
  font-family: "fredoka one", cursive;
  text-shadow: -3px -2px 1px $text-shadow-color;
}
.view-subtitle {
  font-family: "comfortaa";
  font-size: calc(0.8rem + 1vw);
  font-weight: 400;
}
.display-4-responsive {
  color: $rds-logo-color;
  font-size: calc(1rem + 3vw);
  font-weight: 100;
}
.h4-responsive {
  margin-top: -20px;
  font-size: calc(0.5rem + 1.5vw);
  font-weight: 400;
}
.h2-responsive {
  margin-top: -35px;
  font-size: calc(0.5rem + 1.2vw);
  font-weight: 100;
}
.h1-responsive {
  margin-bottom: -5px;
  font-family: "poiret one";
  color: black;
  font-size: calc(1rem + 2vw);
}
.h5-responsive {
  margin-top: 0px;
  font-size: calc(0.4rem + 1.2vw);
  font-weight: 100;
}
.img-container {
  margin-top: 10px;
  width: 15%;
  height: auto;
  position: static;
  right: 0;
  top: 0;
}
.rds-icon {
  color: $rds-logo-color;
}
.card-header {
  height: 50px;
  font-family: "comfortaa";
  color: $gray-chateau-color;
  background-color: $rds-logo-color !important;
}
.google-card-name {
  font-family: "comfortaa";
}
.card-name {
  font-family: "comfortaa";
  padding-left: 10px;
  margin-top: -10px;
  color: $text-shadow-color;
}
.app-name {
  color: $rds-logo-color;
  font-weight: 800;
}
.hidden {
  display: none;
}

.text-wrap-right {
  float: right;
  margin: 5px;
}

.text-wrap-left {
  float: left;
  margin: 5px;
}

/* class to avoid text selection*/
.no-copy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
