<mat-card [class.mat-elevation-z10]="true">
  <mat-card-content>
    <div class="text-center">
      <div class="avatar" style="margin-top: -60px">
        <img src="{{ (user.photoUrl)  ? user.photoUrl : '/assets/images/dummy-user.png'}}" height="96" width="96"
          class="rounded-circle" alt="avatar image">
      </div>

      <h3 *ngIf="user.name" class="mt-4">{{ user.name }}</h3>
      <h3 *ngIf="!user.name" class="mt-4">Usuario anónimo</h3>
      <h2>Roles del usuario:
        <div *ngIf="user.isAdmin">
          <label class="badge badge-danger">Administrador</label>
        </div>

      </h2>
      <a mat-raised-button (click)="onLogout()">Cerrar sesión</a>
    </div>
  </mat-card-content>
</mat-card>
