<div class="p-4">
  <mat-card class="card border-primary m-n2 bg-transparent">
    <mat-card-header>
      <img mat-card-avatar src="/assets/images/rds-newlogo-transparent.png">
      <mat-card-title>Las calificaciones aún están en proceso. Intenta a partir del día 24 de marzo, 2021
      </mat-card-title>
      <mat-card-subtitle>Para cualquier aclaración, comunícate a la Dirección Escolar.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <a mat-raised-button href="tel:2299223746">
            <img class="img-icon"
              src="https://cdn1.iconfinder.com/data/icons/network-and-communication-2-13/48/97-512.png">
            Llama a Escuela</a>
          +52 (229) 922-3746
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <a mat-raised-button href="https://wa.me/5212293702675">
            <img class="img-icon" src="https://cdn.iconscout.com/icon/free/png-256/whatsapp-circle-1868968-1583132.png">
            Enviar Mensaje
          </a>
          +52 (229) 370-2675
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
