@import './../../../../assets/themes/colors.scss';
mat-toolbar{
  z-index: 1000;
  min-height: 50px!important;
  height: 50px !important;
  background-color: white;
}
.active {
  border-bottom: 2px solid $rds-logo-color;
}


