<mat-toolbar class="animation fadeInOut mat-elevation-z4 sticky-top">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="5px">
      <button *ngIf="isHandset && isOnline" mat-icon-button (click)="toggleSidenavLeft($event)">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <button mat-icon-button [routerLink]="['/']">
        <img class="img-fluid" src="assets/icons/android-chrome-512x512.png" />
      </button>
      <button mat-button [matMenuTriggerFor]="escuela">
        Escuela
      </button>
      <button mat-button [matMenuTriggerFor]="webapp">
        Aplicación
      </button>
    </div>
    <div fxLayout="row" fxLayoutGap="5px">
      <button *ngIf="isOnline" mat-icon-button [matMenuTriggerFor]="userMenu">
        <img class="img-fluid rounded-circle"
          [src]="[user.photoUrl ? user.photoUrl : 'assets/images/dummy-user.png']" />
      </button>
      <button *ngIf="!isOnline" mat-icon-button (click)="onSignIn()">
        <img class="img-fluid" src="assets/images/google-logo.svg" />
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #userMenu="matMenu" fxLayoutAlign="right">
  <ng-template matMenuContent>
    <div mat-list-item *ngIf="isOnline && user" [routerLink]="['user']" appMaterialElevation>
      <app-user-card [isOnline]="isOnline" [isAdmin]="isAdmin" [user]="user"> </app-user-card>
    </div>
    <div mat-menu-item *ngIf="isOnline && isTeacher" [routerLink]="['clases']" appMaterialElevation>
      <fa-icon matListIcon [icon]="faUserTie" size="lg"></fa-icon>
      <span>&nbsp;Profesor</span>
    </div>
    <div mat-menu-item *ngIf="isOnline && isAdmin" [routerLink]="['admin']" appMaterialElevation>
      <fa-icon matListIcon [icon]="faShieldAlt" size="lg"></fa-icon>
      <span>&nbsp;Administrador</span>
    </div>
    <div mat-menu-item *ngIf="isOnline" (click)="openConfigDialog()" appMaterialElevation
      [defaultElevation]="defaultElevation" raisedElevation="16">
      <fa-icon matListIcon [icon]="faSlidersH" size="lg"></fa-icon>
      <span>&nbsp;Configuración</span>
    </div>
    <div mat-menu-item *ngIf="isOnline" (click)="onSignOut()">
      <fa-icon matListIcon [icon]="faSignOut" size="lg"></fa-icon>
      <span>&nbsp;Cerrar Sesión</span>
    </div>
  </ng-template>
</mat-menu>
<mat-menu #infoMenu="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [matMenuTriggerFor]="escuela">Escuela</div>
    <div mat-menu-item [matMenuTriggerFor]="webapp">Aplicación</div>
  </ng-template>
</mat-menu>

<mat-menu #escuela="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['about']" routerLinkActive="active">Quiénes somos</div>
    <div mat-menu-item [matMenuTriggerFor]="oferta">Oferta educativa</div>
    <div mat-menu-item [routerLink]="['location']" routerLinkActive="active">Galería de fotos</div>
    <div mat-menu-item [routerLink]="['location']" routerLinkActive="active">Ubicación y contacto</div>
  </ng-template>
</mat-menu>

<mat-menu #webapp="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [matMenuTriggerFor]="conduct">Código de conducta</div>
    <div mat-menu-item [routerLink]="['privacy-policy']" routerLinkActive="active">Políticas de privacidad</div>
    <div mat-menu-item [routerLink]="['license']" routerLinkActive="active">Licencia</div>
  </ng-template>
</mat-menu>

<mat-menu #conduct="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['code-conduct-school']" routerLinkActive="active">Para espacios académicos</div>
    <div mat-menu-item [routerLink]="['code-conduct']" routerLinkActive="active">Para este sitio</div>
  </ng-template>
</mat-menu>
<mat-menu #oferta="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['remote-learning']" routerLinkActive="active">Educación a distancia</div>
    <div mat-menu-item [routerLink]="['under-construction']" routerLinkActive="active">Preescolar</div>
    <div mat-menu-item [routerLink]="['under-construction']" routerLinkActive="active">Primaria</div>
    <div mat-menu-item [routerLink]="['under-construction']" routerLinkActive="active">Secundaria</div>
  </ng-template>
</mat-menu>
