<mat-toolbar class="animation fadeInOut border-bottom">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="20px">
      <button *ngIf="isHandset && isOnline" mat-icon-button (click)="toggleSidenavLeft($event)">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <button mat-icon-button [routerLink]="['/']" routerLinkActive="active">
        <img class="img-fluid" src="/assets/icons/android-chrome-512x512.png" />
      </button>
      <button mat-button [matMenuTriggerFor]="infoMenu">
        Información
      </button>
    </div>
    <a *ngIf="isOnline" [matMenuTriggerFor]="userMenu">
      <img mat-card-avatar [src]="[user.photoUrl ? user.photoUrl : '/assets/images/dummy-user.png']" />
    </a>
    <button *ngIf="!isOnline" mat-icon-button (click)="onSignIn()">
      <img class="img-fluid" src="/assets/images/google-logo.svg" />
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #userMenu="matMenu" fxLayoutAlign="right">
  <ng-template matMenuContent>
    <div mat-list-item *ngIf="isOnline && user" [routerLink]="['profile']" routerLinkActive="active">
      <app-user [isOnline]="isOnline" [isAdmin]="isAdmin" [user]="user"> </app-user>
    </div>
    <div mat-menu-item *ngIf="isOnline && isAdmin" [routerLink]="['admin']" routerLinkActive="active">
      <fa-icon matListIcon [icon]="faShieldAlt" size="lg"></fa-icon>
      <span>Administración</span>
    </div>
    <div mat-menu-item *ngIf="isOnline" (click)="onSignOut()">
      <fa-icon matListIcon [icon]="faSignOut" size="lg"></fa-icon>
      <span>Cerrar Sesión</span>
    </div>
  </ng-template>
</mat-menu>
<mat-menu #infoMenu="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['/']" [matMenuTriggerFor]="escuela">Escuela</div>
    <div mat-menu-item [matMenuTriggerFor]="webapp">Aplicación</div>
  </ng-template>
</mat-menu>

<mat-menu #escuela="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['about']">Quiénes somos</div>
    <div mat-menu-item [matMenuTriggerFor]="oferta">Oferta educativa</div>
    <div mat-menu-item>Ubicación y contacto</div>
    <div mat-menu-item>Contacto</div>
  </ng-template>
</mat-menu>

<mat-menu #webapp="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [routerLink]="['privacy-policy']">Políticas de privacidad</div>
    <div mat-menu-item [routerLink]="['terms']">Términos de uso</div>
    <div mat-menu-item [routerLink]="['license']">Licencia</div>
    <div mat-menu-item [routerLink]="['code-conduct']">Código de conducta</div>
  </ng-template>
</mat-menu>

<mat-menu #oferta="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item>Preescolar</div>
    <div mat-menu-item>Primaria</div>
    <div mat-menu-item>Secundaria</div>
  </ng-template>
</mat-menu>
