<div class="m-4">
  <p class="view-title">Reapertura de los centros educativos</p>
  <p class="view-subtitle">Información sobre las nuevas modalidades de trabajo.</p>
  <p>La reapertura de los centros educativos en el Estado de Veracruz se llevará a cabo el día <strong>Martes 1 de Junio
      de 2021</strong>. A partir de esta fecha, la institución ha preparado dos modalidades de trabajo distintas para
    nuestros alumnos: <i class="text-primary">Modalidad a distancia</i> y <i class="text-primary">Modalidad Mixta</i>.
    La elección de la
    modalidad de trabajo por
    parte de cada
    una delas familias se realizará de forma anticipada, consensuada y sin opción a cambio, vigente para el período
    comprendido entre el 1 y el 30 de Junio de 2021, que corresponde a la etapa final del ciclo escolar 2020-21. Debido
    a la premura con que las autoridades escolares nos solicitan registrar a los estudiantes en la modalidad que le
    corresponde, la Dirección Escolar estará encargada de recopilar dicha información de forma anticipada el día 17 de
    Mayo del año en curso. En fechas posteriores a la reunión, la modalidad escogida será ratificada mediante un
    documento institucional que deberá ser firmado por los Padres, Tutores o Representantes de cada uno de nuestros
    alumnos.
  </p>
  <h2>Información general sobre las modalidades: </h2>
  <p><strong class="text-primary">Modalidad a distancia:</strong> En esta modalidad, el conjunto de las actividades que
    engloban la vida
    académica de los
    alumnos se desarrollará, sin cambios sustanciales, tal y como se ha propuesto desde los inicios de este ciclo
    escolar 2020-21, en sintonía con los acuerdos y planes desarrollados por la institución para la puesta en marcha del
    “primer ciclo escolar a distancia” ejecutados desde el mes de agosto del año anterior a la fecha de este comunicado.
    En forma descriptiva, esta modalidad consta de las siguientes características:
  </p>
  <ul>
    <li>Los alumnos, acatando las disposiciones de restricción a la movilidad y hacinamiento, cursarán la carga
      académica
      que corresponde a su grado escolar desde sus hogares, en los horarios establecidos por la institución. Así mismo,
      la
      institución se compromete a brindar y seguir brindando íntegramente el servicio educativo, y refrenda su
      compromiso
      y entrega para lograr la transmisión del espíritu de nuestro modelo educativo, en cada una de las acciones
      realizadas en esta modalidad a distancia.</li>
    <li>La institución continuará proveyendo la infraestructura en tecnologías de la información que hace posible esta
      modalidad (Administración de dominio, Google Education Services, Sistema de Calificaciones en Línea y
      Administración
      Escolar, Libros de Texto digitales, plataformas libres educativas de terceros, transmisión directa de los eventos
      más representativos de la institución, entre otras).</li>
    <li>El personal docente y especializado, encargado de las labores educativas en cada una de sus áreas y grados,
      continuará brindando el servicio en esta modalidad; sin embargo, con la reapertura de los centros educativos,
      darán
      continuidad a la impartición de los cursos asignados en las instalaciones del plantel escolar. A través de esta
      medida, los alumnos bajo distintas modalidades educativas, convergen en una única dinámica de aprendizaje.
    </li>
  </ul>
  <p><strong class="text-primary">Modalidad mixta:</strong> Bajo esta modalidad escolar, el alumno asiste a clases
    presenciales en el plantel escolar dos días
    a la semana (calendarizados de acuerdo al orden alfabético de las lista de grupo), asiste a clases a distancia dos
    días más a la semana pudiendo optar por el acompañamiento y/o nivelación el último día de cada semana, únicamente a
    distancia. Tal y como se muestra en la siguiente tabla:
  </p>
  <table class="tg table-responsive">
    <colgroup>
      <col style="width: 120px">
      <col style="width: 450px">
    </colgroup>
    <thead>
      <tr>
        <th class="tg-0lax">Día de la semana</th>
        <th class="tg-0lax">Quiénes asisten</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-lqy6">lunes y miércoles </td>
        <td class="tg-0w8i"><span style="font-weight:400;font-style:normal">Estudiantes con inicial del apellido paterno
            de la “A” a la “M”</span></td>
      </tr>
      <tr>
        <td class="tg-lqy6">martes y jueves </td>
        <td class="tg-0w8i">Estudiantes con inicial del apellido paterno de la “N” a la “Z”</td>
      </tr>
      <tr>
        <td class="tg-lqy6">viernes </td>
        <td class="tg-0w8i"><span style="font-weight:400;font-style:normal;text-decoration:none">Nivelación de los
            estudiantes con desempeño insuficiente.</span><br><span
            style="font-weight:400;font-style:normal;text-decoration:none">Ambas modalidades tomarán la nivelación a
            distancia.</span></td>
      </tr>
    </tbody>
  </table>

  <p>Cabe señalar que la administración de las actividades y programaciones que los docentes preparan en todas y cada
    una de las materias, continuarán siendo dosificadas, registradas y evaluadas a través de las herramientas
    tecnológicas y entornos computacionales, como Google Classroom, BlinkLearning, entre otros; compartidos con la
    modalidad a distancia. Luego entonces, es imprescindible para los alumnos que desean estudiar en esta modalidad que
    se presenten en el plantel escolar con un dispositivo, ya sea de tipo ordenador o tableta, que les permita
    integrarse a los mecanismos tecnológicos en donde se desarrolla el quehacer académico de las distintas modalidades.
  </p>
  <p>Antes de llegar y durante su estancia en el plantel, los alumnos deberán conocer y cumplir diversos requisitos y
    normas, propios de una situación anómala en el ámbito de la salud pública mundial, y cuyas pautas se encuentran
    detalladas en la infografía al final de esta página. Algunos de estos lineamientos deberán ser supervisados
    y cuidados desde casa como preparativos para asistir a la escuela de manera presencial; a destacar, los que procuran
    el monitoreo de <a href="https://coronavirus.gob.mx/covid-19/">síntomas propios de la enfermedad ocasionada por la
      presencia del virus SaRS-CoV2</a>.</p>
  <p>Es importante recordar, que las dinámicas propuestas para la reapertura de las escuelas, en las entidades
    federativas que se encuentren en semáforo epidemiológico verde, así como la decisión de las familias por una
    modalidad específica, está subordinada a los cambios en el mencionado semáforo epidemiológico, que puede variar
    desde una escala federal, estatal, municipal, o incluso local con referencia a nuestra escuela. En caso de detectar
    algún caso positivo dentro de la comunidad escolar, la autoridad escolar nos conmina a adoptar la modalidad a
    distancia para todo personal y alumnos que pertenezcan a nuestra institución.</p>
  <div>
    <img src="assets/images/reapertura_rds.png" class="img-fluid" alt="código de conducta">
  </div>
</div>
