<mat-card class="mat-elevation-z5">
  <mat-card-content *ngIf="user$|async as user" class="card border-primary m-n2">
    <h2 class="card-header">Consulta tu información escolar</h2>
    <div class="card-body">
      <p class="card-text">En esta sección podrás consultar las clases en las que estás inscrito, tu boleta de
        calificaciones del ciclo escolar
        en curso en tiempo real y podrás actualizar tus datos personales.</p>
    </div>
    <div class="card-footer text-muted">
      Última visita: {{user.lastLogin|date:'medium'}}
    </div>
  </mat-card-content>
</mat-card>
