<div class="px-5 pt-3" [class.mat-elevation-z4]="false">
  <div class="breadcrumb" fxLayout="row" fxLayoutAlign="center">
    <div class="text-center">
      <p class="display-4">Politicas de Privacidad</p>
      <p class="mat-h1"><small class="text-muted">Declaración de manejo de datos personales</small></p>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="text-justify">
    <p>En Servicio Remoto, accesible desde <strong>https://rafael-diaz-serdan.web.app/</strong>, Una de nuestras
      principales prioridades es
      la privacidad de
      nuestros visitantes Este documento de Política de privacidad contiene tipos de información recopilada y registrada
      por
      Servicio
      Remoto y cómo lo usamos. </p>
    <p> Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en
      contactarnos.
    </p>
    <p> Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de
      nuestro sitio web con respecto a
      la información que compartieron y / o recopilaron en Servicio Remoto. Esta política no es aplicable a ninguna
      información.
      recopilados sin conexión o a través de canales distintos a este sitio web. </p>
    <h2> Consentimiento </h2>

    <p> Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus términos. </p>

    <h2> Información que recopilamos </h2>

    <p> Se hará la información personal que se le solicite y las razones por las cuales se le solicita.
      claro para usted en el momento en que le solicitamos que proporcione su información personal. </p>
    <p> Si nos contacta directamente, podemos recibir información adicional sobre usted, como su nombre, dirección de
      correo
      electrónico, teléfono
      número, el contenido del mensaje y / o los archivos adjuntos que nos puede enviar, y cualquier otra información
      que
      pueda elegir
      proporcionar. </p>
    <p> Cuando se registra para una Cuenta, podemos solicitar su información de contacto, incluidos elementos como el
      nombre, la compañía
      nombre, dirección, dirección de correo electrónico y número de teléfono. </p>

    <h2> Cómo usamos su información </h2>

    <p> Utilizamos la información que recopilamos de varias maneras, que incluyen: </p>

    <ul>
      <li> Proporcionar, operar y mantener nuestro sitio web </li>
      <li> Mejorar, personalizar y expandir nuestro sitio web </li>
      <li> Comprenda y analice cómo utiliza nuestro sitio web </li>
      <li> Desarrollar nuevos productos, servicios, características y funcionalidades </li>
      <li> Comuníquese con usted, ya sea directamente o a través de uno de nuestros socios, incluido el servicio al
        cliente,
        para proporcionar
        con actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promoción </li>
      <li> Enviarle correos electrónicos </li>
      <li> Buscar y prevenir el fraude </li>
    </ul>

    <h2> Archivos de registro </h2>

    <p> Servicio Remoto sigue un procedimiento estándar de uso de archivos de registro. Estos archivos registran a los
      visitantes cuando visitan sitios web.
      Todas las empresas de hosting hacen esto y una parte de los análisis de los servicios de hosting. La información
      recopilada por los archivos de registro
      incluir direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP),
      sello
      de fecha y hora,
      páginas de referencia / salida, y posiblemente el número de clics. Estos no están vinculados a ninguna información
      que
      sea personal
      identificable El propósito de la información es analizar tendencias, administrar el sitio, rastrear el movimiento
      de
      los usuarios
      en el sitio web y recolectando información demográfica. Nuestra política de privacidad fue creada con la ayuda de
      <a href="https://www.privacypolicygenerator.info"> Generador de políticas de privacidad </a> y el <a
        href="https://www.privacypolicyonline.com/privacy-policy-generator/"> Generador de políticas de privacidad en
        línea
      </a>. </p>

    <h2> Cookies y balizas web </h2>

    <p> Al igual que cualquier otro sitio web, Servicio Remoto utiliza 'cookies'. Estas cookies se utilizan para
      almacenar
      información que incluye
      preferencias de los visitantes y las páginas del sitio web a las que el visitante accedió o visitó. La información
      se
      usa para
      optimizar la experiencia de los usuarios personalizando el contenido de nuestra página web en función del tipo de
      navegador de los visitantes y / u otros
      información. </p>

    <p> Para obtener información más general sobre las cookies, lea <a
        href="https://www.cookieconsent.com/what-are-cookies/"> "Qué son las cookies "</a>. </p>

    <h2> Políticas de privacidad de socios publicitarios </h2>

    <p>Puede consultar esta lista para encontrar la Política de privacidad de cada uno de los socios publicitarios de
      Servicio Remoto.</p>

    <p> Los servidores de anuncios o redes publicitarias de terceros utilizan tecnologías como cookies, JavaScript o Web
      Beacons que se utilizan en
      sus respectivos anuncios y enlaces que aparecen en Servicio Remoto, que se envían directamente al navegador de los
      usuarios.
      Reciben automáticamente su dirección IP cuando esto ocurre. Estas tecnologías se utilizan para medir la
      efectividad.
      de sus campañas publicitarias y / o para personalizar el contenido publicitario que ve en los sitios web que
      visita.
    </p>

    <p> Tenga en cuenta que Servicio Remoto no tiene acceso ni control sobre estas cookies que utilizan los anunciantes
      de
      terceros.
    </p>

    <h2> Políticas de privacidad de terceros </h2>

    <p> La Política de privacidad de Servicio Remoto no se aplica a otros anunciantes o sitios web. Por lo tanto, le
      aconsejamos que
      consulte las políticas de privacidad respectivas de estos servidores de anuncios de terceros para obtener
      información
      más detallada. Puede incluir
      sus prácticas e instrucciones sobre cómo darse de baja de ciertas opciones. </p>

    <p> Puede optar por desactivar las cookies a través de las opciones de su navegador individual. Para conocer
      información
      más detallada sobre
      gestión de cookies con navegadores web específicos, se puede encontrar en los respectivos sitios web de los
      navegadores. </p>

    <h2> Derechos de privacidad de CCPA (No venda mi información personal) </h2>

    <p> Bajo el CCPA, entre otros derechos, los consumidores de California tienen derecho a: </p>
    <p> Solicitar que una empresa que recopila datos personales de un consumidor divulgue las categorías y piezas
      específicas de
      datos personales que una empresa ha recopilado sobre los consumidores. </p>
    <p> Solicitar que una empresa elimine cualquier dato personal sobre el consumidor que haya recopilado una empresa.
    </p>
    <p> Solicitar que una empresa que vende los datos personales de un consumidor, no venda los datos personales del
      consumidor. </p>
    <p> Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, por favor
      contáctenos. </p>

    <h2> Derechos de protección de datos GDPR </h2>

    <p> Nos gustaría asegurarnos de que conozca todos sus derechos de protección de datos. Todo usuario tiene derecho a
      siguiente: </p>
    <p> El derecho de acceso: tiene derecho a solicitar copias de sus datos personales. Podemos cobrarle una pequeña
      tarifa
      por
      este servicio. </p>
    <p> El derecho a la rectificación: tiene derecho a solicitar que corrijamos cualquier información que considere
      incorrecta.
      También tiene derecho a solicitar que completemos la información que cree que está incompleta. </p>
    <p> El derecho a borrar: tiene derecho a solicitar que borremos sus datos personales, bajo ciertas condiciones. </p>
    <p> El derecho a restringir el procesamiento: tiene derecho a solicitar que restrinjamos el procesamiento de su
      información personal
      datos, bajo ciertas condiciones. </p>
    <p> El derecho a oponerse al procesamiento: tiene derecho a oponerse a nuestro procesamiento de sus datos
      personales,
      bajo
      ciertas condiciones. </p>
    <p> El derecho a la portabilidad de los datos: tiene derecho a solicitar que transfiramos los datos que hemos
      recopilado
      a
      otra organización, o directamente a usted, bajo ciertas condiciones. </p>
    <p> Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, por favor
      contáctenos. </p>

    <h2> Información para niños </h2>

    <p> Otra parte de nuestra prioridad es agregar protección para los niños mientras usan Internet. Alentamos a los
      padres
      y
      tutores para observar, participar y / o monitorear y guiar su actividad en línea. </p>

    <p> Servicio Remoto no recopila a sabiendas ninguna información personal identificable de niños menores de 13 años.
      Si cree que su hijo proporcionó este tipo de información en nuestro sitio web, le recomendamos que se contacte con
      nosotros.
      inmediatamente y haremos nuestros mejores esfuerzos para eliminar rápidamente dicha información de nuestros
      registros.
    </p>
  </div>
</div>
