<div class="m-4">
  <mat-card class="mat-elevation-z4" style="width: fit-content;">
    <mat-card-header style="margin-top: -20px">
      <div class="float-right img-container">
        <img style="max-height: 80px;" src="assets/images/rds-personas.png" class="img-fluid" />
      </div>
      <mat-card-title>
        <span class="view-title">Políticas de privacidad</span>
      </mat-card-title>
      <mat-card-subtitle style="margin-top: 10px">
        <span class="view-subtitle">y tratamiento de datos personales.</span>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="p-2 text-justify">
    <h2>Aviso de privacidad</h2>
    <p>En el sitio de la Escuela Rafael Díaz Serdán (RDS), accesible desde <span class="app-name">rds.edu.mx</span>, una
      de
      nuestras
      principales prioridades es la privacidad de nuestros usuarios. Este documento de Política de Privacidad
      contiene
      tipos de información recopilada y registrada por este sitio y cómo lo usamos. </p>
    <p> Si tiene preguntas adicionales o necesita más información sobre nuestra Política de Privacidad, no dude en
      contactarnos.
    </p>
    <p> Esta Política de Privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de
      nuestro sitio web con respecto a la información que compartieron y/o recopilaron en <span
        class="app-name">rds.edu.mx</span>. Esta política no es aplicable a ninguna información recopilada sin conexión
      o a través de canales distintos a este sitio web. </p>
    <h3> Consentimiento </h3>

    <p> Al utilizar nuestro sitio web, usted acepta nuestra Política de Privacidad y acepta sus términos. </p>

    <h3> Información que recopilamos </h3>

    <p> Se hará claro para usted en el momento en que le solicitamos que proporcione su información personal, la
      información personal que se le solicite y las razones por las cuales se le solicita. </p>
    <p> Si nos contacta directamente, a <strong>soporte.tecnico@rds.edu.mx</strong> podemos recibir información
      adicional sobre usted, como su nombre, dirección de correo electrónico, teléfono número, el contenido del mensaje
      y/o los archivos adjuntos que nos puede enviar, y cualquier otra información que pueda elegir proporcionar. </p>
    <p> Cuando se registra una cuenta institucional, podemos solicitar su información de contacto, incluidos elementos
      como el
      nombre, dirección, dirección de correo electrónico y número de teléfono. </p>

    <h3> Cómo usamos su información </h3>

    <p> Utilizamos la información que recopilamos de varias maneras, que incluyen: </p>

    <ul>
      <li> Proporcionar, operar y mantener funciones de servicio académico. </li>
      <li> Mejorar, personalizar y expandir funciones de servicio académico. </li>
      <li> Comprender y analizar cómo utiliza los servivios académicos. </li>
      <li> Desarrollar nuevos productos, servicios, características y funcionalidades. </li>
      <li> Comunícarse con usted, ya sea directamente o a través de uno de nuestros socios, incluido el servicio al
        cliente, para proporcionar con actualizaciones y otra información relacionada con el sitio web, siempre
        <strong>sin fines
          comerciales</strong> ni promoción.
      </li>
      <li> Enviarle correos electrónicos. </li>
      <li> Buscar y prevenir el fraude. </li>
    </ul>

    <h3> Archivos de registro </h3>

    <p> Este sitio sigue un procedimiento estándar de uso de archivos de registro. Estos archivos registran a los
      visitantes cuando visitan sitios web.
      Todas las empresas de hosting hacen esto y una parte de los análisis de los servicios de hosting. La información
      recopilada por los archivos de registro
      incluir direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP),
      sello de fecha y hora, páginas de referencia / salida, y posiblemente el número de clics. Estos no están
      vinculados a ninguna información que sea personal identificable El propósito de la información es analizar
      tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recolectando
      información demográfica. </p>

    <h3> Cookies y balizas web </h3>

    <p> Al igual que cualquier otro sitio web, <span class="app-name">rds.edu.mx</span> utiliza 'cookies'. Estas cookies
      se utilizan para almacenar información que incluye preferencias de los visitantes y las páginas del sitio web a
      las que el visitante accedió o visitó. La información se usa para optimizar la experiencia de los usuarios
      personalizando el contenido de nuestra página web en función del tipo de navegador de los visitantes y/u otros
      información. </p>

    <p> Para obtener información más general sobre las cookies, lea <a
        href="https://www.cookieconsent.com/what-are-cookies/" target="_blank" rel="noopened"> "Qué son las cookies
        "</a>. </p>

    <h3> Políticas de privacidad de terceros </h3>

    <p> La Política de privacidad de <span class="app-name">rds.edu.mx</span> no se aplica a otros anunciantes o sitios
      web. Por lo tanto, le aconsejamos que consulte las políticas de privacidad respectivas de estos servidores de
      anuncios de terceros para
      obtener información más detallada. Puede incluir sus prácticas e instrucciones sobre cómo darse de baja de ciertas
      opciones. </p>

    <p> Puede optar por desactivar las cookies a través de las opciones de su navegador individual. Para conocer
      información más detallada sobre gestión de cookies con navegadores web específicos, se puede encontrar en los
      respectivos sitios web de los navegadores. </p>

    <h2> Derechos de privacidad de CCPA (No venda mi información personal) </h2>

    <p> Bajo el CCPA, entre otros derechos, los consumidores de California tienen derecho a: </p>
    <ul>
      <li> Solicitar que una empresa que recopila datos personales de un consumidor divulgue las categorías y piezas
        específicas de datos personales que una empresa ha recopilado sobre los consumidores. </li>
      <li> Solicitar que una empresa elimine cualquier dato personal sobre el consumidor que haya recopilado una
        empresa.
      </li>
      <li> Solicitar que una empresa que vende los datos personales de un consumidor, no venda los datos personales del
        consumidor. </li>
    </ul>

    <p> Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, por
      favor
      contáctenos. </p>

    <h2> Derechos de protección de datos GDPR </h2>

    <p> Nos gustaría asegurarnos de que conozca todos sus derechos de protección de datos. Todo usuario tiene derecho
      a
      siguiente: </p>
    <ul>
      <li> El derecho de acceso: tiene derecho a solicitar copias de sus datos personales sin cobrarle una
        tarifa por este servicio. </li>
      <li> El derecho a la rectificación: tiene derecho a solicitar que corrijamos cualquier información que considere
        incorrecta.
        También tiene derecho a solicitar que completemos la información que cree que está incompleta. </li>
      <li> El derecho a borrar: tiene derecho a solicitar que borremos sus datos personales, bajo ciertas condiciones.
      </li>
      <li> El derecho a restringir el procesamiento: tiene derecho a solicitar que restrinjamos el procesamiento de su
        información personal
        datos, bajo ciertas condiciones. </li>
      <li> El derecho a oponerse al procesamiento: tiene derecho a oponerse a nuestro procesamiento de sus datos
        personales,
        bajo
        ciertas condiciones. </li>
      <li> El derecho a la portabilidad de los datos: tiene derecho a solicitar que transfiramos los datos que hemos
        recopilado
        a
        otra organización, o directamente a usted, bajo ciertas condiciones. </li>
    </ul>

    <p> Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, por
      favor contáctenos. </p>

    <h2> Información para niños </h2>

    <p> Otra parte de nuestra prioridad es agregar protección para los niños mientras usan Internet. Alentamos a los
      padres
      y
      tutores para observar, participar y/o monitorear y guiar su actividad en línea. </p>

    <p> <span class="app-name">rds.edu.mx</span> no recopila a sabiendas ninguna información personal identificable de
      niños menores de 13 años. Si cree que su hijo proporcionó este tipo de información sin su previo consentimiento en
      nuestro sitio web, le recomendamos que se contacte
      con nosotros inmediatamente y haremos nuestros mejores esfuerzos para eliminar rápidamente dicha información de
      nuestros
      registros.
    </p>
  </div>
</div>
