<h1>Campos y áreas de formación</h1>
<h3>Unidad 2 (segundo trimestre)</h3>
<div fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-button matTooltip="Mostrar todas las observaciones" (click)="accordion.openAll()">
    <fa-icon size="lg" [icon]="faExpandArrowsAlt">
    </fa-icon>
    Expandir todo
  </button>
  <button mat-button matTooltip="Contraer todas las observaciones" (click)="accordion.closeAll()">
    <fa-icon size="lg" [icon]="faCompressArrowsAlt">
    </fa-icon>
    Contraer todo
  </button>
</div>

<mat-accordion multi>
  <mat-expansion-panel *ngFor="let course of data.scores" appMaterialElevation [raisedElevation]="raisedElev"
    hideToggle>
    <mat-expansion-panel-header>
      <fa-icon size="lg" class="text-warning" [icon]="faStar">
      </fa-icon>
      <mat-panel-title>
        <strong>{{course.courseName}}</strong>
      </mat-panel-title>

    </mat-expansion-panel-header>
    {{course.notes2}}
  </mat-expansion-panel>
</mat-accordion>
