<div *ngIf="isLoading$|async">
  <mat-progress-bar mode="query" color="primary"> </mat-progress-bar>
</div>
<div *ngIf="(students$|async).length==0 && !(isLoading$|async)">
  <mat-card class="text-center">
    <fa-icon [icon]="faBlind"></fa-icon> se encontraron elementos.
  </mat-card>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let student of students$|async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{student.profile.name.fullName}}
      </mat-panel-title>
      <mat-panel-description>
        {{student.profile.emailAddress}}
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
