<div class="px-4 pt-1">
  <div fxLayout="column" fxLayoutAlign="space-between start">
    <p class="display-4 display-4-responsive">Tu cuenta</p>
    <p class="h4 h4-responsive"> Información del alumno</p>
  </div>
</div>
<div class="px-2 pt-2">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
    <div fxFlex="0 1 calc(35% - 5px)" fxFlex.lt-md="100%">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div fxFlex="0 1 calc(65% - 5px)" fxFlex.lt-md="100%">
      <mat-card class="mat-elevation-z5">
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
