<div class="p-5">
  <div fxLayout="column" fxLayoutAlign="space-between start">
    <p class="display-4 display-4-responsive">Tu cuenta</p>
    <p class="h4 h4-responsive"> Información del alumno</p>
  </div>
</div>
<div class="px-5">
  <div fxLayout="row flex" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
    <div fxFlex="0 1 calc(35% - 5px)" fxFlex.lt-md="100%">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div fxFlex="0 1 calc(65% - 5px)" fxFlex.lt-md="100%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
