<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <h2 mat-dialog-title>{{(data.isNew) ? 'Crea' : 'Modifica'}} una materia</h2>
  <fa-icon mat-icon-button [icon]="faTimes" size="lg" (click)="close()" [matDialogClose]=""></fa-icon>
</div>
<mat-dialog-content>
  <mat-form-field class="d-block" appearance="outline">
    <input placeholder="Nombre" matInput [(ngModel)]="data.course.name" />
  </mat-form-field>
  <mat-form-field class="d-block" appearance="outline">
    <mat-label>Profesor</mat-label>
    <mat-select [(ngModel)]="data.course.teacher" placeholder="Selecciona el profesor">
      <div *ngIf="(loading$|async)">
        <mat-progress-bar></mat-progress-bar>
      </div>
      <div *ngIf="!(loading$|async)">
        <mat-option *ngFor="let teacher of teachers$|async"
          [value]="{id:teacher.id,name:teacher.name,photoUrl:teacher.photoUrl}">
          <img class="img-select rounded-circle" src="{{teacher.photoUrl}}">&nbsp;
          {{teacher.name.fullName}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()" [mat-dialog-close]="">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.isNew ? 'Crear' : 'Modificar' }}
  </button>
  <app-delete-button (delete)="handleCourseDelete()" *ngIf="!data.isNew"></app-delete-button>
</div>
