.sidenav-container {
  height: 100%;
}

.sidenav {
  border: none;
  width: max-content;
  mat-toolbar {
    background: inherit;
  }
}
.sidenav-content {
  border-radius: 5px;
  margin: 0;
}
.main-container {
  width: 100%;
}
