// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Mrs+Saint+Delafield&family=Comfortaa&family=Roboto&family=Fredoka+One&family=Love+Ya+Like+A+Sister&family=Sarabun&family=Londrina+Shadow&family=Londrina+Sketch&family=Miltonian&family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
/* .active {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:active {
    @include mat-elevation(18,#e91e63, 0.8);
  }
} */
$custom-typography: mat-typography-config(
  $font-family: "poppins",
);
@include mat-core($custom-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$light-primary: mat-palette($mat-light-blue);
$light-accent: mat-palette($mat-green, A200, A400, A900);
// The warn palette is optional (defaults to red).
$light-warn: mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);
// Define an alternate dark theme.
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette($mat-light-green, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}
