<div fxLayout="row wrap" fxLayoutAlign="space-between top">
  <h1 mat-dialog-title>Inicio de sesión</h1>
  <fa-icon mat-icon-button [icon]="faTimes" size="lg" (click)="close()" matDialogClose></fa-icon>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <p class="text-justify">Para ingresar a los servicios académicos institucionales,
    identifícate con tu cuenta escolar.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <div class="button-bg" mat-raised-button fxLayout="column" fxLayoutAlign="space-around center">
      <fa-icon class="login-button" mat-icon-button (click)="onLogin()" size="3x" [icon]="faDoor"></fa-icon>
      <h5>Ingresar</h5>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h2 class="my-n2">rafaeldiazserdan.net</h2>
      <h2>rds.edu.mx</h2>
    </div>
  </div>
</mat-dialog-actions>
