<div fxLayout="row wrap" fxLayoutAlign="space-between top">
  <h1 mat-dialog-title>Inicio de sesión</h1>
  <fa-icon mat-icon-button [icon]="faTimes" size="lg" (click)="close()" matDialogClose></fa-icon>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <p class="text-justify">Para ingresar a los servicios académicos institucionales,
    identifícate con tu cuenta escolar.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div fxLayout="column">
    <button mat-raised-button (click)="onLogin()">
      <img class="img-google" src="assets/images/google-logo.svg" />
    </button>
    <div>@rafaeldiazserdan.net</div>
  </div>
  <!--  <div id="gSignInWrapper">
      <button id="customBtn" mat-icon-button (click)="onLogin()" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">@rafaeldiazserdan.net</span>
      </button>
    </div> -->
  <!-- <div fxLayout="column" fxLayoutAlign="center start">
      <h2 class="my-n2">rafaeldiazserdan.net</h2>
      <h2>rds.edu.mx</h2>
    </div> -->

</mat-dialog-actions>
