<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <h1 mat-dialog-title>Inicio de sesión</h1>
  <fa-icon mat-icon-button [icon]="faTimes" size="lg" (click)="close()" matDialogClose></fa-icon>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <p>Identificate con tu cuenta institucional</p>
  <h2>@rafaeldiazserdan.net</h2>
  <button mat-icon-button (click)="onLogin()">
    <img class="img-fluid" src="assets/images/google-logo.png" />
  </button>
  <h5>Haz click aquí</h5>
</mat-dialog-content>
