<div class="p-2">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <img mat-card-avatar src="https://i.pinimg.com/originals/98/d3/a2/98d3a283f98cded8e639957e935bd373.png" />
      <mat-card-title><span class="view-title">Información Académica</span>
      </mat-card-title>
      <mat-card-subtitle class="view-subtitle">Accede a toda tu información como alumno
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <div fxLayout="row" fxLayoutAlign="space-around center">

      </div>
    </mat-card-actions>
  </mat-card>
  <div class="pt-2">
    <div fxLayout="row flex" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
      <div fxFlex="0 1 calc(35% - 5px)" fxFlex.lt-md="100%">
        <app-user-menu [user]="user$ | async" (logout)="logoutUser($event)"></app-user-menu>
      </div>
      <div fxFlex="0 1 calc(65% - 5px)" fxFlex.lt-md="100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
