<div *ngIf="!(loading$|async)" class="m-4">
  <mat-card class="mat-elevation-z4" style="width: fit-content;">
    <mat-card-header style="margin-top: -20px">
      <!-- <img mat-card-avatar src="https://i.pinimg.com/originals/98/d3/a2/98d3a283f98cded8e639957e935bd373.png" /> -->
      <mat-card-title>
        <span class="view-title">Servicios Escolares</span>
      </mat-card-title>
      <mat-card-subtitle style="margin-top: 10px">
        <span class="view-subtitle">Accede a toda tu información como alumno</span>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="mt-2 d-block">
    <app-user-menu [user]="(user$|async)" [isAdmin]="(isAdmin$|async)" [isTeacher]="(isTeacher$|async)"
      [isOnline]="(isOnline$|async)" (logout)="logoutUser($event)"></app-user-menu>
  </div>
  <div class="mb-2 d-block">
    <router-outlet></router-outlet>
  </div>
</div>
