<mat-accordion displayMode="flat" hideToggle>
  <mat-expansion-panel *ngFor="let student of students$|async" class="card border-gray" [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{student.profile.name.fullName}}
      </mat-panel-title>
      <img mat-card-avatar src="{{student.profile.photoUrl}}">
      <mat-panel-description>
        {{student.profile.emailAddress}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      Some deferred content
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
