<mat-accordion [togglePosition]="'before'">
  <mat-expansion-panel *ngFor="let announcement of announcements">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-truncated">
        {{ announcement.text }}
      </mat-panel-title>
      <mat-panel-description>
        {{ announcement.creationTime | date: "medium" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>{{ announcement.text }}</p>

      <mat-chip-list
        *ngIf="
          announcement.materials != null && announcement.materials != undefined;
          else elseBlock
        "
      >
        <mat-chip *ngFor="let material of announcement.materials">
          <a *ngIf="material.link as link" href="{{ link.url }}">{{
            link.title
          }}</a>
          <div *ngIf="material.driveFile as drive">
            <img matChipAvatar src="{{ drive.driveFile.thumbnailUrl }}" />
            <a href="{{ drive.driveFile.alternateLink }}" target="_blank">{{
              drive.driveFile.title
            }}</a>
          </div>
          <div *ngIf="material.form as form">
            <img matChipAvatar src="{{ form.thumbnailUrl }}" />
            <a href="{{ form.formUrl }}" target="_blank">{{ form.title }}</a>
          </div>
        </mat-chip>
      </mat-chip-list>
    </ng-template>
    <ng-template #elseBlock>
      <p>No se encontraron archivos adjuntos.</p>
    </ng-template>
    <mat-action-row>
      <button mat-raised-button></button>
      <button mat-raised-button></button>
      <button mat-raised-button></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
