<mat-card class="mat-elevation-z5">
  <mat-card-content class="card border-success m-n2">
    <h2 class="mat-h2 card-header">Calificaciones</h2>
    <div class="card-body">
      <p class="card-text">Se muestran únicamente los cursos en donde estás inscrito como alumno. Si eres profesor y
        deseas acceder al
        panel
        de calificaciones, dirígete a <a [routerLink]="['/c']">este enlace</a>.
      </p>
      <div *ngIf="(isLoading$|async)" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner strokeWidth="3" [diameter]="50">
        </mat-spinner>
        <span>Buscando ...</span><br>
      </div>
      <ul *ngIf="!(isLoading$|async)" class="list-group list-group-flush">
        <li *ngFor="let course of courses$|async"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          {{course.name}}<span class="fs-lg badge bg-primary rounded-pill">14</span>
        </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      <p>Promedio general: <span class="badge bg-light rounded-pill">14</span></p>
    </div>
  </mat-card-content>
</mat-card>
