
.sidenav {
  width: 250px;
  background: inherit;
  border:none;
}
.mat-toolbar {
  background: inherit;
  min-height: 50px!important;
  height: 50px !important;
}
.img-small {
  height: 40px;
  width: auto;
}
