<div class="py-2">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
    <mat-card class="mb-2" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-lg="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
      [routerLink]="['alumnos']" appMaterialElevation [raisedElevation]="raisedElev">
      <fa-icon class="rds-icon float-left" [icon]="faIdCard" size="2x"></fa-icon>
      <mat-card-header>
        <mat-card-title>Expedientes Escolares</mat-card-title>
        <mat-card-subtitle>
          <p><small>Accede a la información de los estudiantes.</small></p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mb-2" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-lg="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
      [routerLink]="['profesores']" appMaterialElevation [raisedElevation]="raisedElev">
      <fa-icon class="rds-icon float-left" [icon]="faIdCardAlt" size="2x"></fa-icon>
      <mat-card-header>
        <mat-card-title>Personal Docente</mat-card-title>
        <mat-card-subtitle>
          <p><small>Accede a la información del personal docente.</small></p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
