<div class="px-2 pt-1">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <p class="display-4 display-4-responsive">Tu cuenta</p>
    <p class="h4 h2-responsive text-dark-50"> Información del alumno</p>
  </div>
</div>
<div class="px-2 pt-2">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="space-around start">
    <div fxFill fxFlex="0 1 calc(30% - 2px)" fxFlex.lt-md="100%">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div fxFill fxFlex="0 1 calc(60% - 2px)" fxFlex.lt-md="100%">
      <mat-card class="mat-elevation-z10">
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
