<div class="p-2">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/rds-newlogo-transparent.png" />
      <mat-card-title><span class="view-title">Configuración</span>
      </mat-card-title>
      <mat-card-subtitle class="view-subtitle">Personalisa la apariencia de esta aplicación
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="py-2">
    <mat-card>
      <div class="card border-success m-n2 bg-transparent">
        <div fxLayout="row" fxLayoutAlign="start top" fxLayoutGap="10px">
          <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before"
            (change)="toggleDarkTheme($event.checked)">
          </mat-slide-toggle>
          <fa-icon [icon]="(isDarkTheme | async)?faMoon:faSun" size="lg"></fa-icon>
          <div>Modo {{(isDarkTheme | async)?'nocturno':'diurno'}}</div>
        </div>
        <div>Disminuye la intensidad de luz emitida por la pantalla al utilizar una interfaz de color negro.</div>
      </div>
    </mat-card>
  </div>
</div>
