<div class="p-2">
  <div class="p-5" [ngStyle]="{'border':'2px dashed gray'}" [ngClass]="[]">
    <h2>ATENCIÓN:</h2>
    <blockquote class="blockquote text-justify">
      <p>Las acciones de administración de dominio pueden tener efectos o consecuencias que no
        siempre se restringen a una modificación en específico.</p>
      <small class="small text-muted">Aún cuando esta aplicación presenta en
        forma segura e informada cada una de las opciones, asegúrate de conocer las implicaciones
        de las acciones realizadas bajo el rol de <span class="text-danger">Administrador</span> y <span
          class="text-success">Super-Administrador</span>. Puedes
        consultar más información <a href="https://support.google.com/a/topic/9832445" target="_blank">aquí</a>.
      </small>
    </blockquote>
  </div>

</div>
