@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.eot');
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
        url('Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Regular.woff2') format('woff2'),
        url('Comfortaa-Regular.woff') format('woff'),
        url('Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Medium.eot');
    src: local('Comfortaa Medium'), local('Comfortaa-Medium'),
        url('Comfortaa-Medium.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Medium.woff2') format('woff2'),
        url('Comfortaa-Medium.woff') format('woff'),
        url('Comfortaa-Medium.svg#Comfortaa-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Bold.eot');
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Bold.woff2') format('woff2'),
        url('Comfortaa-Bold.woff') format('woff'),
        url('Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.eot');
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
        url('Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Regular.woff2') format('woff2'),
        url('Comfortaa-Regular.woff') format('woff'),
        url('Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-SemiBold.eot');
    src: local('Comfortaa SemiBold'), local('Comfortaa-SemiBold'),
        url('Comfortaa-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-SemiBold.woff2') format('woff2'),
        url('Comfortaa-SemiBold.woff') format('woff'),
        url('Comfortaa-SemiBold.svg#Comfortaa-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Light.eot');
    src: local('Comfortaa Light'), local('Comfortaa-Light'),
        url('Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Light.woff2') format('woff2'),
        url('Comfortaa-Light.woff') format('woff'),
        url('Comfortaa-Light.svg#Comfortaa-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.eot');
    src: local('Fredoka One'), local('FredokaOne-Regular'),
        url('FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('FredokaOne-Regular.woff2') format('woff2'),
        url('FredokaOne-Regular.woff') format('woff'),
        url('FredokaOne-Regular.svg#FredokaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BlackItalic.woff2') format('woff2'),
        url('Montserrat-BlackItalic.woff') format('woff'),
        url('Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff'),
        url('Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BoldItalic.woff2') format('woff2'),
        url('Montserrat-BoldItalic.woff') format('woff'),
        url('Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Italic.woff2') format('woff2'),
        url('Montserrat-Italic.woff') format('woff'),
        url('Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('Montserrat-ExtraLightItalic.woff') format('woff'),
        url('Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff'),
        url('Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-MediumItalic.woff2') format('woff2'),
        url('Montserrat-MediumItalic.woff') format('woff'),
        url('Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-LightItalic.woff2') format('woff2'),
        url('Montserrat-LightItalic.woff') format('woff'),
        url('Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('Montserrat-SemiBoldItalic.woff') format('woff'),
        url('Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff'),
        url('Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ThinItalic.woff2') format('woff2'),
        url('Montserrat-ThinItalic.woff') format('woff'),
        url('Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Bold.eot');
    src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
        url('MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Bold.woff2') format('woff2'),
        url('MontserratAlternates-Bold.woff') format('woff'),
        url('MontserratAlternates-Bold.svg#MontserratAlternates-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Black.eot');
    src: local('Montserrat Alternates Black'), local('MontserratAlternates-Black'),
        url('MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Black.woff2') format('woff2'),
        url('MontserratAlternates-Black.woff') format('woff'),
        url('MontserratAlternates-Black.svg#MontserratAlternates-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-BlackItalic.eot');
    src: local('Montserrat Alternates Black Italic'), local('MontserratAlternates-BlackItalic'),
        url('MontserratAlternates-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url('MontserratAlternates-BlackItalic.woff') format('woff'),
        url('MontserratAlternates-BlackItalic.svg#MontserratAlternates-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-BoldItalic.eot');
    src: local('Montserrat Alternates Bold Italic'), local('MontserratAlternates-BoldItalic'),
        url('MontserratAlternates-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url('MontserratAlternates-BoldItalic.woff') format('woff'),
        url('MontserratAlternates-BoldItalic.svg#MontserratAlternates-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraBold.eot');
    src: local('Montserrat Alternates ExtraBold'), local('MontserratAlternates-ExtraBold'),
        url('MontserratAlternates-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('MontserratAlternates-ExtraBold.woff') format('woff'),
        url('MontserratAlternates-ExtraBold.svg#MontserratAlternates-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

