<div *ngIf="isLoading$|async">
  <mat-progress-bar mode="query" color="primary"> </mat-progress-bar>
</div>
<div *ngIf="(announcements$|async).length==0 && !(isLoading$|async)">
  <mat-card class="text-center">
    <fa-icon [icon]="faBlind"></fa-icon> se encontraron elementos.
  </mat-card>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let announcement of announcements$|async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ announcement.text }}
      </mat-panel-title>
      <mat-panel-description>
        {{ announcement.creationTime }}
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
