<div class="px-2 pt-1">
  <div class="img-container float-right">
    <img src="assets/images/rds-personas.png" class="img-fluid" />
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <p class="display-4 display-4-responsive">Educación a distancia</p>
    <p class="h4 h2-responsive text-dark-50">en respuesta a tiempos de crisis</p>
  </div>
  <div fxLayout="row">
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/120896489_3353318561372251_3413422127144432972_o.jpg">
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/145554877_3674428962594541_6430858538444380710_o.jpg">
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/142807647_3651180938252677_2666928967365985320_o.jpg">
    <img class="text-wrap-right img-fluid" width="30%" height="auto"
      src="assets/scene/136731354_3609776659059772_5825083095735666824_o.jpg">
  </div>
  <div class="py-2">
    <div class="card border-success mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Manual de cuentas institucionales</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/scene/tu-cuenta-institucional.png"
            alt="Manual de cuentas institucionales">
        </div>
      </div>
    </div>
  </div>
</div>
