<div class="p-5">
  <div fxLayout="row wrap" fxLayoutAlign="space-between top">
    <div fxFlex fxLayout="column" fxLayoutAlign="top start">
      <p class="display-4 display-4-responsive">Educación a distancia</p>
      <p class="h4 h4-responsive">en respuesta a tiempos de crisis</p>
      <p class="h5 h5-responsive">Descarga de manuales para el manejo y prevencion de eventualidades en la modalidad de
        educación a distancia
      </p>
    </div>
    <div fxFlex="25%">
      <carousel>
        <slide *ngFor="let pict of picts; let index=index">
          <img class="img-fluid" [src]="pict.path" alt="first slide" height="auto">
        </slide>
      </carousel>
    </div>
  </div>
  <div class="py-2" fxLayout="row wrap" fxLayoutGap="5px">
    <div *ngFor="let infoManual of infographics" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)"
      fxFlex.lt-sm="100%">
      <div class="card border-success" fxLayout="row wrap">
        <div fxFlex="70%" class="card-body">
          <h3 class="card-title">{{infoManual.title}}</h3>
          <p class="card-text">{{infoManual.description}}</p>
          <p class="card-text"><small class="text-muted">{{infoManual.size}}</small></p>
        </div>
        <div fxFlex="30%">
          <a [href]="">
            <img class="img-fluid img-thumbnail" [src]="infoManual.file" alt="{{infoManual.title}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
