<div style=" height: 180vh;">
  <div class="container">
    <h1 class="emblem">
      <span class="char01">E</span>
      <span class="char02">s</span>
      <span class="char03">c</span>
      <span class="char04">u</span>
      <span class="char05">e</span>
      <span class="char06">l</span>
      <span class="char07">a</span>
      <span class="char08"></span>
      <span class="char09">R</span>
      <span class="char10">a</span>
      <span class="char11">f</span>
      <span class="char12">a</span>
      <span class="char13">e</span>
      <span class="char14">l</span>
      <span class="char15"></span>
      <span class="char16">D</span>
      <span class="char17">í</span>
      <span class="char18">a</span>
      <span class="char19">z</span>
      <span class="char20"></span>
      <span class="char21">S</span>
      <span class="char22">e</span>
      <span class="char23">r</span>
      <span class="char24">d</span>
      <span class="char25">á</span>
      <span class="char26">n</span>
    </h1>
    <img class="image-container img-casa" src="assets/images/rds-house-words.png" />
    <img class="image-container img-personas" src="assets/images/rds-personas.png" />
  </div>
</div>

<!-- <div appParallax [ratio]="-0.2" id="square"></div>
 -->
<div appParallax [ratio]="0.3" id="house"></div>
<div appParallax [ratio]="-0.15" id="boy"></div>
<div appParallax [ratio]="-0.11" id="girl"></div>
