@import "./../../../../assets/themes/colors.scss";
.card-name {
  padding-left: 10px;
  margin-top: -10px;
  color: darkgray;
}
.card-header {
  background-color: $rds-logo-color;
}
.rds-icon {
  color: $rds-logo-color;
}

.school-form-card {
  min-width: 120px;
  margin: 20px auto;
}
