<div class="py-2">
  <form [formGroup]="searchForm">
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Selecciona un grupo</mat-label>
      <mat-select formControlName="grade" placeholder="Selecciona un grado escolar"
        (selectionChange)="onSearch($event.value)">
        <mat-option *ngFor="let skey of slevelKeys" value="{{skey}}">
          {{skey}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div>
    <div *ngIf="loading$|async" style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner strokeWidth="3" [diameter]="50">
      </mat-spinner>
      <span>Buscando ...</span><br>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="space-arround top">
      <mat-card *ngIf="!(loading$|async) && users$|async as users" fxFlex="0 1 calc(30% - 5px)" fxFlex.lt-sm="100%"
        class="students-list">
        <mat-list *ngIf="users.length==0" dense>
          <mat-list-item> No hay cursos para mostrar </mat-list-item>
        </mat-list>
        <mat-list dense>
          <mat-list-item *ngFor="let user of users" (click)="sendUser(user);activeClass=user.id"
            [ngClass]="{'active': user.id==activeClass, 'bg-transparent': user.id!=activeClass}">
            <img matListAvatar src="{{user.photoUrl}}">
            <div matLine>{{user.name.fullName}}</div>
            <fa-icon matTooltip="Última conexión: {{user.lastLoginTime|date:'medium'}}" [icon]="faCircle"
              class="{{user.isOnline?'text-success':'text-danger'}}"></fa-icon>
          </mat-list-item>
        </mat-list>
      </mat-card>
      <div *ngIf="userSub" fxFlex="0 1 calc(68% - 5px)" fxFlex.lt-md="100%">
        <app-school-form [user]="userSub" (updatedUser)="editUser($event)"></app-school-form>
      </div>
    </div>
  </div>
</div>
