@import './../../../../assets/themes/colors.scss';

.img-small {
  height: 30px;
  width: auto;
}
.students-list {
  min-width: 280px;
  margin:0;
  padding:0;
}

mat-list-item.active {
  background: $rds-logo-color;
}
