<div class="py-2">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Selecciona un grupo</mat-label>
      <mat-select formControlName="grade">
        <mat-option *ngFor="let skey of slevelKeys" [value]="slevels[skey]">
          {{slevels[skey]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="space-arround top">
      <mat-card *ngIf="(loaded$|async) && users$|async as users" class="students-list" fxFlex="0 1 calc(30% - 5px)"
        fxFlex.lt-sm="100%">
        <div class="card m-n3 bg-transparent ">
          <mat-list class="list-group" *ngIf="users.length==0" dense>
            <mat-list-item> No hay cursos para mostrar </mat-list-item>
          </mat-list>
          <mat-list class="list-group mt-n1" dense>
            <mat-list-item class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let user of users" (click)="sendUser(user);activeClass=user.id"
              [ngClass]="{'active': user.id==activeClass, 'bg-transparent': user.id!=activeClass}">
              <img matListAvatar src="{{user.photoUrl}}">
              <h4 matLine>{{user.name.fullName}}</h4>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
      <div *ngIf="userSub" fxFlex="0 1 calc(68% - 5px)" fxFlex.lt-md="100%">
        <app-school-form [user]="userSub" (updatedUser)="editUser($event)"></app-school-form>
      </div>
    </div>
  </div>
</div>
<!-- <mat-accordion hideToggle>
  <mat-expansion-panel  appMaterialElevation [raisedElevation]="raisedElev"
    >
    <mat-expansion-panel-header>
      <img class="img-small rounded-circle" src="{{user.photoUrl}}">
      <mat-panel-title>{{user.name.fullName}}</mat-panel-title>
      <mat-panel-description>{{user.primaryEmail}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="user">
      <router-outlet></router-outlet>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->
