.footer {
  position: relative;
  bottom: 0;
  font-size: 14px;
  min-height: 30px!important;
  height: 30px !important;
  background-color: lightskyblue;
  mat-toolbar-row {
    min-height: 30px!important;
    height: 30px !important;
  }
}
